@use '../scss-utils/functions' as f;
@use '../scss-utils/mixins' as m;

.main {
    & .wrapper {
        max-width: f.toRem(1392);
        margin-inline: auto;
        padding-inline: f.fluid(24,41,small,medium);

        @include m.breakpoint-up(medium) {
            padding-inline: f.fluid(41,116,medium,large);
        }
    }
}