@use '../scss-utils/functions' as f;

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-2);
}

h1,
h2,
h3,
h4,
label,
input[type=number] {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-secondary-1);
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

h1,
h2,
h3 {
    letter-spacing: -.05em;
}

h1 {
    font-size: f.toRem(48);
}

h2 {
    font-size: f.toRem(32);
}

h3 {
    font-size: f.toRem(24);
}

h3.unit-label {
    color: var(--clr-accent);
}

h4 {
    font-size: f.toRem(20);
}

.label-s {
    font-size: f.toRem(14);
}