@use '../scss-utils/functions' as u;

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-2);
}

h1,
h2,
h3,
h4,
label,
input[type=number] {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-secondary-1);
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

h1 {
    font-size: u.toRem(48);
}

h2 {
    font-size: u.toRem(32);
}

h3 {
    font-size: u.toRem(24);
}

h4 {
    font-size: u.toRem(20);
}