@use '../scss-utils/functions' as f;
@use '../scss-utils/mixins' as m;

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-2);
    font-size: f.toRem(16);
}

h1,
h2,
h3,
.card-title,
label,
.heading-s,
.unit-label,
input[inputmode=numeric],
.semi-bold {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-secondary-1);
}

h1,
h2,
h3,
.heading-s,
.unit-label,
.card-title {
    line-height: 1.1;
}

h1,
h2,
h3,
.heading-s,
.unit-label {
    letter-spacing: -.05em;
}

h1 {
    font-size: f.toRem(48);
    max-width: 11ch;

    @include m.breakpoint-up(medium) {
        font-size: f.fluid(48,64,large,large-x);
    }
}

h2 {
    font-size: f.toRem(32);

    @include m.breakpoint-up(medium) {
        font-size: f.fluid(32,48,large,large-x);
    }
}

h3,
input[inputmode=numeric],
.heading-s,
.unit-label {
    font-size: f.toRem(24);
}

p.unit-label {
    color: var(--clr-accent);
}

.card-title {
    font-size: f.toRem(20);
}

.label-s {
    font-size: f.toRem(14);
}