@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}